.App {

    width: 100%;
    height: 100vh;
    background-color: rgba(165, 42, 42, 0.434);

    .whatsApp{
        width: 400px;
        height: 700px;
        background-color: white;
        border-radius: 20px;
        flex-direction: column;

        // bu header qismning tun holatga otkazadi
        .header-dark{
            background-color: rgba(0, 0, 0, 0.89) !important;
            color: white !important;
        }

        header{
            background-color: rgb(8, 78, 0);
            color: white;
            border-radius: 20px 20px 0px 0px;
            padding: 5px 10px 0px 10px;
            font-size: 15px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon{
                height: 100%;
                .zaryad{
                    width: 20px;
                    height: 20px;
                }
            }

        }

        .aside-dark{
            background-color: rgba(0, 0, 0, 0.735) !important;
            color: white !important;
        }

        aside{
            color: white;
            background-color:rgba(8, 78, 0, 0.842);
            .asideTop{
                
            }

            .asideBottom{
                display: flex;
                width: 100%;
                height: 100px;
                overflow-x: scroll;

                &::-webkit-scrollbar{
                    width: 0;
                    height: 0;
                }

                .istory{
                   min-width: 70px;
                    height: 100%;
                    text-align: center;
                    img{
                        width: 100%;
                        height: 74%;
                        border-radius: 100%;
                        border-top: 3px solid rgb(0, 255, 0);
                        border-right: 3px solid rgb(0, 255, 0);
                    }
                }
            }


        }
        
    }
}

.container-dark{
    background-color: rgba(0, 0, 0, 0.89) !important;
    color: white !important;
}

.container{
    width: 100%;
    height: auto;
    padding: 2px;
    overflow-y: scroll;
    
    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }

    .row{
        width: 100%;
        height: 60px;
        padding: 2px;
        

        .left-box{
            width: 80px;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        .right-box{
            width: 74%;
            height: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;


            .top{
                height: 25px;

                p{
                    font-size: 18px;
                }
                span{
                    font-size: 15px;
                    color: darkgray;
                }
            }

            .bottom{
                overflow: hidden;
            }
        }
    }
}

.futter-dark{
    background-color: rgba(0, 0, 0, 0.735) !important;
    border-top: 1px solid rgb(255, 255, 255) !important;
    color: white !important;
}
.futter{
    height: 45px;
    width: 100%;
    padding: 0px 60px;
    border-top: 1px solid black;
    border-radius: 0px 0px 20px 20px;
}

img{
    object-fit: cover !important;
}